<template>
    <div class="w-96 my-4 text-white font-roboto">
        <div class="w-full flex px-2">
            <div :class="{ 'border-b-bred': current_tab == 'create', 'border-b-gray-700': current_tab != 'create' }" class="w-1/3 cursor-pointer text-center py-2 border-b-2 hover:border-b-bred" @click="current_tab = 'create'">Create</div>
            <div :class="{ 'border-b-bred': current_tab == 'browse', 'border-b-gray-700': current_tab != 'browse' }" class="w-1/3 cursor-pointer text-center py-2 border-b-2 hover:border-b-bred" @click="current_tab = 'browse'">Browse</div>
            <div :class="{ 'border-b-bred': current_tab == 'settings', 'border-b-gray-700': current_tab != 'settings' }" class="w-1/3 cursor-pointer text-center py-2 border-b-2 hover:border-b-bred" @click="current_tab = 'settings'">Settings</div>
        </div>

        <div class="py-2 px-4 overflow-auto" style="height: 26rem;">
            <div v-show="alert.show" class="fixed cursor-pointer rounded" :class="alert.style" style="width: 22rem" @click="alert.show = false" title="Click to close">
                <div class="flex pl-2">
                    <font-awesome-icon icon="xmark" class="my-1 p-2" />
                    <div class="px-1 py-2">
                        {{ alert.text }}
                    </div>
                </div>
            </div>

            <TabCreate v-show="current_tab == 'create'" :settings="settings" @show-alert="showAlert" />
            <TabBrowse v-show="current_tab == 'browse'" :settings="settings" @show-alert="showAlert" />
            <TabSettings v-show="current_tab == 'settings'" @update-settings="updateSettings" @show-alert="showAlert" />
        </div>

        <div class="fixed right-2 bottom-4">
            <a href="https://booya.email/help" title="Need help?" class="font-bungee text-2xl rounded-full bg-bblack border-2 border-borange py-2 px-3 hover:border-bgreen hover:text-byellow">?</a>
        </div>
    </div>
</template>

<script>
    import TabCreate from "./tabs/TabCreate.vue";
    import TabBrowse from "./tabs/TabBrowse.vue";
    import TabSettings from "./tabs/TabSettings.vue";

    export default {
        data() {
            return {
                current_tab: 'create',
                settings: {
                    domain_names: [],
                    api_key: '',
                    destination_email: ''
                },
                alert: {
                    show: false,
                    text: '',
                    style: ''
                }
            }
        },
        methods: {
            showAlert(text, style) {
                this.alert.text = text;
                this.alert.style = 'bg-' + (style == 'error' ? 'bred' : 'bemerald') + ' border border-white';
                this.alert.show = true;
                setTimeout(() => { this.alert.show = false }, 4000)
            },
            updateSettings(domain_names, api_key, destination_email) {
                this.settings.domain_names = domain_names.split(',');
                this.settings.api_key = api_key;
                this.settings.destination_email = destination_email;
            }
        },
        components: {
            TabCreate,
            TabBrowse,
            TabSettings
        }
    }
</script>

<style>
body {
    @apply bg-bblack border-zinc-700 border-2;
}

</style>
