<template>
    <div class="w-full mt-2">

        <div class="mb-7">
            <select class="w-full px-1 py-2 bg-bblack border border-bemerald rounded disabled:opacity-30" :disabled="settings.domain_names.length == 0" v-model="selected_domain" v-on:change="getAliasesForDomain">
                <option value="" disabled>Select a domain</option>
                <option v-for="domain in settings.domain_names" :key="domain">{{ domain }}</option>
            </select>
        </div>

        <div class="mb-7">
            <input class="w-full border border-bemerald p-2 rounded bg-bblack text-white disabled:opacity-30" type="search" :disabled="selected_domain == ''" placeholder="Filter domains" v-model="search_pattern" @keyup="filterDomains" />
        </div>

        <div>
            <div v-for="(alias, index) in aliases" :key="alias" class="flex flex-col mb-2">
                <div class="mb-2 cursor-pointer" @click="toggleAliases(index)">
                    <font-awesome-icon icon="caret-right" class="mr-2 mt-1transition duration-100 ease-in" :id="'chevron-' + index" />
                    <span>{{ alias.domain }}</span>
                    <div class="float-right border border-borange rounded px-2 py-1 text-xs">{{ alias.sources.length }}</div>
                </div>
                <div :id="'tree-' + index" class="hidden">
                    <ul class="border-l-bemerald border-l ml-2 pl-4 transition-all duration-500 ease-in">
                        <li v-for="(source, idx) in alias.sources" :key="idx" class="">
                            <span :title="source">{{ aliasBaseFromSource(source) }}</span>
                            <font-awesome-icon :id="'delete-' + index + '-' + idx" icon="trash" class="float-right text-bred cursor-pointer text-sm mt-1 opacity-50 hover:opacity-100" @click="deleteAlias('delete-' + index + '-' + idx, source, selected_domain)" title="Delete alias" />
                            <font-awesome-icon :id="'copy-' + index + '-' + idx" icon="copy" class="float-right mr-2 text-bblue cursor-pointer text-sm mt-1 opacity-50 hover:opacity-100" @click="copyAliasToClipboard('copy-' + index + '-' + idx, source, selected_domain)" title="Copy alias" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import * as Alias from "../../../lib/alias.js";

    export default {
        props: ['settings'],
        data() {
            return {
                selected_domain: '',
                aliases: [],
                aliases_orig: [],
                search_pattern: ''
            }
        },
        methods: {
            toggleAliases(index) {
                var a = document.getElementById('tree-' + index);
                var c = document.getElementById('chevron-' + index);

                a.classList.toggle("hidden");
                c.classList.toggle("rotate-90");
            },
            getAliasesForDomain() {
                Alias.getAliases(this.settings.api_key, this.selected_domain)
                .then(response => {
                    console.log(response.status);
                    response.json().then(aliases => {
                        this.updateAliasesList(aliases);
                    });
                });
            },
            updateAliasesList(aliases) {
                const regex = /^(.*)-(.*)$/i;
                var res = [];
                var l = aliases.length;

                for (var i = 0; i < l; i++) {
                    // Get the domain for the alias
                    var m = aliases[i].source.match(regex);

                    // Is the alias correctly formatted, i.e. created by Booya?
                    if (m) {
                        var email = aliases[i].source;
                        var domain = m[2];

                        // Check if the domain already exists in our list
                        var domain_exists = false;
                        var j = 0;
                        for (; j < res.length; j++) {
                            if (res[j].domain === domain) {
                                domain_exists = true;
                                break;
                            }
                        }

                        if (domain_exists) {
                            res[j].sources.push(email);
                        } else {
                            res.push({ domain: domain, sources: [email] });
                        }
                    }
                }
                console.log(res);
                this.aliases_orig = JSON.parse(JSON.stringify(res));
                this.aliases = this.aliases_orig;
            },
            filterDomains() {
                if (this.search_pattern === "") {
                    this.aliases = JSON.parse(JSON.stringify(this.aliases_orig));
                } else {
                    var regex = new RegExp(this.search_pattern, "i");
                    var res = [];

                    for (var i = 0; i < this.aliases_orig.length; i++) {
                        var match = this.aliases_orig[i].domain.match(regex);
                        if (match) {
                            res.push(this.aliases_orig[i]);
                        }
                    }
                    this.aliases = res;
                }
            },
            aliasBaseFromSource(source) {
                return source.match(/^(.*)-/i)[1];
            },
            copyAliasToClipboard(id, email, domain) {
                navigator.clipboard.writeText(email + "@" + domain);
                this.animateIcon(id);
            },
            deleteAlias(id, source, domain) {
                this.animateIcon(id);
                Alias.deleteAlias(this.settings.api_key, domain, source)
                .then(response => {
                    if (response.status == 202) {
                        const alias_domain = source.match(/^.*-(.*)/i)[1]

                        for (var i = 0; i < this.aliases_orig.length; i++) {
                            if (this.aliases_orig[i].domain === alias_domain) {
                                var index = this.aliases_orig[i].sources.indexOf(source);
                                this.aliases_orig[i].sources.splice(index, 1);

                                // No aliases left for this website
                                if (this.aliases_orig[i].sources.length == 0) {
                                    this.aliases_orig.splice(i, 1);
                                }
                                break;
                            }
                        }

                        this.aliases = JSON.parse(JSON.stringify(this.aliases_orig));
                        this.$emit('show-alert', 'Alias successfully deleted.', 'success');
                    } else {
                        var error = response.status + " - " + response.statusText;
                        this.$emit('show-alert', 'Failed to delete alias: ' + error, 'error');
                    }
                });
            },
            animateIcon(id) {
                var el = document.getElementById(id);
                el.classList.add("animate-ping");
                setTimeout(() => { el.classList.remove("animate-ping") }, 300);
            }
        }
    }
</script>

<style>
.pointer {
    cursor: pointer;
}
</style>
