<template>
    <div class="w-full mt-2">
        <div class="mb-7">
            <select v-model="selected_domain" :disabled="settings.domain_names.length == 0" class="w-full px-1 py-2 bg-bblack border border-bemerald rounded disabled:opacity-30">
                <option value="" disabled>Select a domain</option>
                <option v-for="domain in settings.domain_names" :key="domain">{{ domain }}</option>
            </select>
        </div>

        <div class="flex mb-7">
            <button :disabled="selected_domain == ''" @click="createAlias" class="w-full py-2 px-5 border border-bred hover:enabled:bg-bred hover:enabled:text-white rounded disabled:opacity-30" tabindex="4">
                <font-awesome-icon v-show="!creating" icon="square-plus" class="mr-2" />
                <font-awesome-icon v-show="creating" icon="circle-notch" class="mr-2 animate-spin" />
                <span class="">Create Alias</span>
            </button>
        </div>

        <div v-show="success" class="flex flex-col text-center">
            <div class="font-bungee w-full text-3xl animate-pulse mb-3">
                <span class="text-bred">B</span>
                <span class="text-borange">O</span>
                <span class="text-byellow">O</span>
                <span class="text-bgreen">Y</span>
                <span class="text-bemerald">A</span>
                <span class="text-bblue">!</span>
            </div>

            <div class="w-full mb-1 cursor-pointer" title="Click to copy alias" @click="copyAliasToClipboard(true)">
                <font-awesome-icon icon="envelope" class="text-xl" /><br />
                <span id="new-alias">{{ alias }}</span>
            </div>

            <div class="w-full text-borange text-xs">
                Alias copied to clipboard!
            </div>
        </div>
    </div>
</template>

<script>
    import browser from "webextension-polyfill";
    import * as Alias from "../../../lib/alias.js";

    export default {
        props: ['settings'],
        data () {
            return {
                selected_domain: '',
                success: false,
                alias: '',
                creating: false
            }
        },
        methods: {
            createAlias() {
                console.log("Creating Alias");
                this.success = false;
                this.creating = true;
                browser.tabs.query({currentWindow: true, active: true}, tabs => {
                    var url = tabs[0].url;
                    this.alias = Alias.buildAlias(url, this.selected_domain);
                    Alias.createAlias(this.selected_domain, this.settings.api_key, this.alias, this.settings.destination_email)
                    .then(response => {                        
                        this.creating = false;
                        if (response.status == 201) {
                            this.$emit('show-alert', 'Alias successfully created.', 'success');
                            this.success = true;
                            this.copyAliasToClipboard();
                        } else {
                            var error = response.status + " - " + response.statusText;
                            this.$emit('show-alert', 'Failed to create alias: ' + error, 'error');
                        }
                    });
                });
             },
             copyAliasToClipboard(animate = false) {
                navigator.clipboard.writeText(this.alias);
                if (animate)  {
                    var el = document.getElementById("new-alias");
                    el.classList.add("animate-ping");
                    setTimeout(() => { el.classList.remove("animate-ping") }, 300);
                }
                 
             }
        }
    }
</script>

<style></style>
