<template>
    <div class="w-full">
        <div class="mb-5 rounded bg-borange py-2 px-4 mt-2 border text-sm">
            <font-awesome-icon icon="circle-info" class="mr-1" />
            Your data is <span class="font-bold underline">only</span> stored locally.
        </div>

        <div class="mb-7">
            <p class="mb-2 text-bemerald">Alias Domain Names</p>
            <input id="domain-names-field" v-model="domain_names" :class="{ 'border-bred' : domain_names_fied_error }" type="text" class="w-full border border-bemerald p-2 rounded bg-bblack text-white" placeholder="my-domain.cool, my-great-domain.me" tabindex="1" />
            <p class="text-center w-full text-xs mt-2 text-borange">Comma-separated list of domains used to create aliases</p>
        </div>

        <div class="mb-7">
            <p class="mb-2 text-bemerald">API Key</p>
            <input type="password" v-model="api_key" :class="{ 'border-bred' : api_key_field_error }" id="api-key-field" class="w-full border border-bemerald p-2 rounded bg-bblack text-white" tabindex="2" />
            <p class="text-center w-full text-xs mt-2 text-borange">You might need to (re)generate one</p>
        </div>

        <div class="mb-7">
            <p class="mb-2 text-bemerald">Destination Email</p>
            <input type="text" v-model="destination_email" :class="{ 'border-bred' : destination_email_field_error }" id="destination-email-field" class="w-full border border-bemerald p-2 rounded bg-bblack text-white" placeholder="me@my-private.email" tabindex="3" />
            <p class="text-center w-full text-xs mt-2 text-borange">The one that you want to keep private</p>
        </div>

        <div class="flex">
            <button @click="saveSettings()" class="w-full py-2 px-5 border border-bred hover:bg-bred hover:text-white rounded" tabindex="4">
                <font-awesome-icon icon="floppy-disk" class="mr-2" />
                <span class="">Save</span>
            </button>
        </div>
    </div>
</template>

<script>
    import browser from "webextension-polyfill";

    export default {
        data() {
            return {
                domain_names: '',
                api_key: '',
                destination_email: '',
                domain_names_fied_error: false,
                api_key_field_error: false,
                destination_email_field_error: false
            }
        },
        methods: {
            saveSettings() {
                this.domain_names = this.domain_names.replace(/ /g, "");
                this.api_key = this.api_key.replace(/ /g, "");
                this.destination_email = this.destination_email.replace(/ /g, "");

                this.domain_names_fied_error = this.domain_names == "";
                this.api_key_field_error = this.api_key === "";
                this.destination_email_field_error = this.destination_email === "";

                if (this.domain_names_fied_error || this.api_key_field_error || this.destination_email_field_error) {
                    this.$emit('show-alert', 'All fields are required.', 'error')
                } else {
                    var settings = {"domain_names": this.domain_names, "api_key": this.api_key, "destination_email": this.destination_email};
                    browser.storage.local.set({ "settings": settings })
                    .then(
                        () => { // success
                            browser.runtime.sendMessage({ msg: 'build-context-menu'});
                            this.$emit('update-settings', this.domain_names, this.api_key, this.destination_email);
                            this.$emit('show-alert', 'Settings updated successfully.', 'success') 
                        },
                        () => { // error
                            this.$emit('show-alert', 'Failed to save settings.', 'error') 
                        }
                    );
                }
            },
            loadSettings() {
                browser.storage.local.get("settings", store => {
                    if (store.settings) {
                        this.domain_names = store.settings.domain_names;
                        this.api_key = store.settings.api_key;
                        this.destination_email = store.settings.destination_email;
                        this.$emit('update-settings', this.domain_names, this.api_key, this.destination_email);
                    }
                });
            }
        },
        mounted() {
            this.loadSettings();
        }
    }
</script>

<style></style>
