@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "bungee-shade-regular";
    src: url("/fonts/bungee-shade-regular.ttf");
}
.font-bungee {
    font-family: "bungee-shade-regular";
}

@font-face {
    font-family: "roboto-mono-regular";
    src: url("/fonts/roboto-mono-regular.ttf");
}
.font-roboto {
    font-family: "roboto-mono-regular";
}